<div class="text-center embed-container">
  <div id="twitch-embed"></div>
  <script src="https://embed.twitch.tv/embed/v1.js"></script>
  <script type="text/javascript">
    new Twitch.Embed("twitch-embed", {
    width: 854,
    height: 480,
    channel: "folsomstreetevents",
    parent: ["<%= request.domain %>"]
    });
  </script>
</div>

<div class="text-center h4 p1" id="direct_twitch_link">
  <a href="https://www.twitch.tv/folsomstreetevents">
      CLICK TO VIEW DIRECTLY ON TWITCH
  </a>
</div>


<div class="text-center h4 p1" id="clashfinder_link">
  <a href="http://clashfinder.com/s/fsf2020/">
      CLICK FOR SCHEDULE
  </a>
</div>


<div class="container">
  <div class="row">
    <div class="col-4-lg mx-auto text-center my-2 d-flex" id="spank-vote">
      <%= image_tag(asset_path('Spank_Website.png')) %>
    </div>

    <div class="col-lg order-lg-first my-2 d-flex text-center" id="thermometer">
      <script language='javascript' src="https://folsomstreetevents.z2systems.com/np/publicaccess/campaignThermometerWidget.do?campaignId=5&orgId=folsomstreetevents"></script>
<noscript></noscript>
    </div>
    <div class="col-lg text-center order-lg-last my-2" id="chat">
      <iframe src="https://minnit.chat/folsomstreetfair?embed&&nickname=" width='300' height='600' style="border:none;" allowTransparency="true"></iframe>
    </div>
  </div>
</div>
