<div class="text-center embed-container">
  <div id="twitch-embed"></div>
  <script src="https://embed.twitch.tv/embed/v1.js"></script>
  <script type="text/javascript">
    new Twitch.Embed("twitch-embed", {
    width: 854,
    height: 480,
    channel: "folsomstreetevents",
    parent: ["<%= request.domain %>"]
    });
  </script>
</div>
<div class="text-center h4 p1" id="direct_twitch_link">
  <a href="https://www.twitch.tv/folsomstreetevents">
      CLICK HERE TO VIEW THE STREAM DIRECTLY ON TWITCH
  </a>
</div>

<div class="content-section container text-center my-2 py-3" id="zoom-room">
  <p> Click to enter the</p>
  <a href="https://us02web.zoom.us/j/87442623513?pwd=Zy81aFFTdUJzTE1hR0lFUS9QbkZEdz09">
    <div class="h4 p1">
      Zoom Dance Room
    </div>
  </a>
  <p>Password: UYA2020</p>
</div>

<div class="content-section container py-3 my-2" id="dj-schedule">
  <div class="h2 text-center">Schedule & Performer Info</div>
  <div class="h4 text-center p1">DJs</div>
  <div class="row my-sm-1 my-3">
    <div class="col-sm text-center text-sm-right">
      DJ Byron Bonsall 11-12:30pm
    </div>
    <div class="col-sm text-center text-sm-left">
      <a href="https://venmo.com/folsomstreetevents">
        Venmo: @folsomstreetevents
      </a>
    </div>
  </div>
  <div class="row my-sm-1 my-3">
    <div class="col-sm text-center text-sm-right">
    DJ Aki 12:30pm-2pm
    </div>
    <div class="col-sm text-center text-sm-left">
      <a href="https://venmo.com/djakisf">
        Venmo: @djakisf
      </a>
    </div>
  </div>
  <div class="row my-sm-1 my-3">
    <div class="col-sm text-center text-sm-right">
    DJ Seth Breezy 2pm-4pm
    </div>
    <div class="col-sm text-center text-sm-left">
      <a href="https:/paypal.me/sethbreezy">
        paypal.me/sethbreezy
      </a>
    </div>
  </div>
  <div class="row my-sm-1 my-3">
    <div class="col-sm text-center text-sm-right">
    DJ Joshua D 4pm-6pm
    </div>
    <div class="col-sm text-center text-sm-left">
      <a href="https://venmo.com/djjoshuad">
        Venmo: @djjoshuad
      </a>
    </div>
  </div>
  <div class="h4 text-center p1">Dancers</div>
  <div class="row my-sm-1 my-3">
    <div class="col-sm text-center text-sm-right">
    Papi Omnipotent
    </div>
    <div class="col-sm text-center text-sm-left">
      <a href="https://venmo.com/Antonio-Coffee">
        Venmo @Antonio-Coffee
      </a>
    </div>
  </div>
  <div class="row my-sm-1 my-3">
    <div class="col-sm text-center text-sm-right">
    DJ Christian
    </div>
    <div class="col-sm text-center text-sm-left">
      <a href="https://venmo.com/christian-gonzalez-213">
        Venmo: @christian-gonzalez-213
      </a>
    </div>
  </div>
  <div class="row my-sm-1 my-3">
    <div class="col-sm text-center text-sm-right">
    Big D Zaddy
    </div>
    <div class="col-sm text-center text-sm-left">
      <a href="https://venmo.com/Zaddy-BigD">
        Venmo: @Zaddy-BigD
      </a>
    </div>
  </div>
  <div class="row my-sm-1 my-3">
    <div class="col-sm text-center text-sm-right">
    Aaron Jenkins
    </div>
    <div class="col-sm text-center text-sm-left">
      <a href="https://venmo.com/Aaron-Jenkins-83">
        Venmo: @Aaron-Jenkins-83
      </a>
    </div>
  </div>
  <div class="h4 text-center p1">Demos</div>
  <div class="row my-sm-1 my-3">
    <div class="col-sm text-center text-sm-right">
    Danny Thanh Nguyen
    </div>
    <div class="col-sm text-center text-sm-left">
      <a href="https://venmo.com/engrishlessons">
        Venmo: @engrishlessons
      </a>
    </div>
  </div>
  <div class="row my-sm-1 my-3">
    <div class="col-sm text-center text-sm-right">
    Heathawk
    </div>
    <div class="col-sm text-center text-sm-left">
      <a href="https://venmo.com/vicviper13x">
        Venmo: @vicviper13x
      </a>
    </div>
  </div>
  <div class="row my-sm-1 my-3">
    <div class="col-sm text-center text-sm-right">
    Kochina Rude
    </div>
    <div class="col-sm text-center text-sm-left">
      <a href="https://venmo.com/Cary-Escovedo">
        Venmo: @Cary-Escovedo
      </a>
    </div>
  </div>
  <div class="row my-sm-1 my-3">
    <div class="col-sm text-center text-sm-right">
    Shay Tiziano
    </div>
    <div class="col-sm text-center text-sm-left">
      <a href="https://venmo.com/shay-tiz">
        Venmo: @shay-tiz
      </a>
    </div>
  </div>
</div>
