<div class="schedule container" id="grid-view">
  <div class="row" id="schedule-header">
    <div class="col-1"></div>
    <div class="col template hidden schedule-header">Location</div>
  </div>
  <div class="row">
    <div class="col-1">12:34pm</div>
    <div class="col template hidden schedule-column">
      <div class="event template hidden">
        <a href="#" class="event-link">
          <div class="event-title"></div>
          <div class="event-time"></div>
          <div class="event-duration"></div>
        </a>
      </div>
    </div>
  </div>
</div>
<script> clashfinder_name = <%= clashfinder_name %> </script>
