<div class="schedule" id="up-next">
  <ul class="list-group">
    <li class="template event hidden list-group-item">
      <a href="#">
        <div class="event-title"></div>
        <div class="event-location"></div>
        <div class="event-time"></div>
        <div class="event-duration"></div>
      </a>
    </li>
  </ul>
</div>

