<h2 class="text-center">Welcome to Folsom St Events</h2>
<p class="text-center">Please <a href="javacsript:;" onClick="$('div#login_choice').hide(); $('div#register-form').hide(); $('div#login-form').show()">log in</a> or <a href="javacsript:;" onClick="$('div#login_choice').hide(); $('div#login-form').hide(); $('div#register-form').show()">create an account</a> to continue</p>
<%= render '/login_register' %>
