<div class="text-center embed-container">
  <div id="twitch-embed"></div>
  <script src="https://embed.twitch.tv/embed/v1.js"></script>
  <script type="text/javascript">
    new Twitch.Embed("twitch-embed", {
    width: 854,
    height: 480,
    channel: "folsomstreetevents",
    parent: ["<%= request.domain %>"]
    });
  </script>
</div>
<div class="text-center h4 p1" id="direct_twitch_link">
  <a href="https://www.twitch.tv/folsomstreetevents">
      CLICK HERE TO VIEW THE DJ STREAM DIRECTLY ON TWITCH
  </a>
</div>
