<ul class="cruise_space container">
  <% cruise_spaces.each do |cs| %>
  <li class="cruise_space row my-5">
    <div class="col-sm">
      <a href="<%= cs.link %>">
        <%= image_tag url_for(cs.banner.variant(resize: "300x200>")), alt: cs.name %>
      </a>
    </div>
    <div class="col-sm">
      <p><%= cs.caption %></p>
    </div>
  </li>
  <% end %>
</ul>

