<% content_for(:header_scripts) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      new Twitch.Embed("twitch-embed", {
        width: 854,
        height: 480,
        channel: "folsomstreetevents",
        parent: ["<%= request.domain %>"]
      });
    });
  </script>
<% end %>

<div class="text-center embed-container">
  <div id="twitch-embed"></div>
</div>
<div class="text-center h4 py-1 mt-3" id="clashfinder_link">
  <a href="http://clashfinder.com/s/fsf2020/">
    CLICK FOR SCHEDULE
  </a>
</div>
