<h2 class="page-title text-center <%= @page.layout.present? ? 'hidden' : "" %>">
  <%= @page.description %>
</h2>


<%= render @page.view_partial_name, html: @page.main_html %>

<div class="links">
<% if can? :edit, @page %>
  <%= link_to 'Edit', edit_admin_page_path(@page) %>
<% end %>
</div>
