@import './bootstrap_custom.scss';

a, .text-yellow {
    color: yellow;
}

a:hover {
    color: darken(yellow, 10%);
}

body {
    background-color: black;
}

.btn-primary {
    background-color: yellow;
    border-color: yellow;
    color:black;
}

div#logo-div {
    height: 30px;
}

nav.navbar {
    width: 100%;
    .navbar-toggler {
        border: 1px solid white;
        border-radius: 5px;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
    .navbar-brand {
        font-size: 3.5em;
        line-height: 1em;
    }
    ul.navbar-nav {
        li.nav-item:hover {
            background-color: darken(yellow, 10%);
        }
        li.nav-item {
            background-color: yellow;
            a {
                color: black;
            }
        }
    }
}

#direct_twitch_link a {
    background-color: black;
    color: yellow;
}

@media (min-width: 544px) {  
    nav.navbar .navbar-brand {font-size:4.5rem;} /*1rem = 16px*/
}

.embed-container {
    max-width: 100%;
}

.list-group-item {
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

ul {
    list-style: none
}

body>div>div.alert {
    display: inline-block;
}

div#list-view {
    max-width: 400px;
    max-height: 450px;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    .event-title, .event-time {
        display: inline-block;
    }
    .event-location, .event-duration {
        float:right;
    }
}

footer {
    background-color: rgba(0,0,0,0.5);
    div.footer-text {
        max-width: 500px;
    }
}

div#primary-content, footer {
    background-color: rgba(0,0,0,0.5)
}

ul li.cruise_space {
    border-radius: 5px;
    background-color: rgba(255,255,0,0.2);
    img{
        width: 100%;
        height: auto;
    }
    p{
        max-height: 250px;
        overflow-y: scroll;
    }
}