@import './bootstrap_custom.scss';

a, .text-white {
    color: white;
}

a:hover {
    color: darken(white, 10%);
}

body {
    background-color: black;
}

.btn-primary {
    background-color: white;
    border-color: white;
    color:black;
}

div#logo-div {
    height: 30px;
}

#zoom-room {
    max-width: 500px;
}

#dj-schedule {
    max-width: 500px;
    color: #eeeeee;
    .h4, .h2 {
        color: #bbbbbb;
    }
}

nav.navbar {
    .navbar-toggle {
        background-color: black;
        border: 0;
        .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            background-color: #eeeeee;
            border-radius: 1px;
        }
    }
    .navbar-header > a {
        display: block
    }
    ul { 
        //  background: #ededed;
        width: 100%;
        text-align: center;
        > li {
            font-size: 1.5em;
            display: inline-block;
            float: none;
        }
    }
}

nav.navbar {

    div.dropdown-menu {
        background-color: #DDDDDD;
        .dropdown-item:hover {
            background-color: #dadada;
        }
    }
    
    width: 100%;
    .navbar-toggler {
        border: 1px solid white;
        border-radius: 5px;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
    .navbar-brand {
        font-size: 3.5em;
        line-height: 1em;
    }
    ul.navbar-nav {
        li.nav-item:hover {
            background-color: darken(white, 10%);
        }
        li.nav-item.active {
            background-color: #dddddd;
        }
        li.nav-item {
            max-width: 300px;
            background-color: white;
            a {
                color: black;
            }
        }
    }
}

#direct_twitch_link a {
    background-color: black;
    color: white;
}

@media (min-width: 544px) {  
    nav.navbar .navbar-brand {font-size:4.5rem;} /*1rem = 16px*/
}

.embed-container {
    max-width: 100%;
}

.list-group-item {
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

ul {
    list-style: none
}

body>div>div.alert {
    display: inline-block;
}

div#list-view {
    max-width: 400px;
    max-height: 450px;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    .event-title, .event-time {
        display: inline-block;
    }
    .event-location, .event-duration {
        float:right;
    }
}

footer {
    background-color: rgba(0,0,0,0.5);
    div.footer-text {
        max-width: 500px;
    }
}

div#primary-content, footer {
    background-color: rgba(0,0,0,0.5)
}

#rules {
    ul {
        list-style: disc;
    }
}

ul li.cruise_space {
    flex: 0 0 19%;
    img{
        width: 100%;
        height: auto;
        cursor: pointer;
    }
    p{
        max-height: 250px;
        overflow-y: scroll;
    }
}

#scenes-carousel {
    max-width: 400px;
    height: 300px;
    div.carousel-inner {
        max-width: 300px;
        margin: auto;
        img {
            cursor: pointer;
        }
    }
}

#scenes-grid {
    li {
        max-width: 255px;
    }
}

#spank-vote {
    max-width: 400px;
    img {
        width: 100%;
    }
}

#thermometer div.panel-body{
    margin: auto
}

#rules {
    font-size: 0.8em;
}

#donations {
    margin-left: auto;
    margin-right: auto;
    p {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        background-color: black;
        border: 1px solid white;
        padding: 10px;
        color: white;
        font-size: 0.8em;
        max-width: 600px;
    }
    div a {
        max-width: 450px;
        width: 100%;
        font-size: 0.8em;
        border: 1px solid white;
        &:hover {
            background-color: #111;
        }
    }
}

#clashfinder_link {
    background-color:white;
    a {
        color: black;
        :hover {
            color: lighten(black,10%)
        }
    }
}

.modal-dialog {
    max-width: 1200px;
}
.modal-content {
    
    font-size: 0.8em;
    button.close {
        position: absolute;
        margin: 10px;
    }
    a{
        color: #1200e0;
    }
    a.modal-image {
        width: 100%;
    }
    background-color: white;
    color: black;
}

.vendor-list {
    p {
        font-size: 0.8em;
    }
    .vendor {
        margin: 0;
    }
    
}

iframe {
    max-width: 100%;
}

div#thermometer {
    max-width: 280px;
    div.panel-body {
        float: none !important;
        #neoncrm-preview #neoncrm-fundraising-widget {
            .neoncrm-widget-donor-list-pane {
                height: 90px;
            }
            max-width: 240px;
            width: 100%;
            height: 500px;
            overflow-y: scroll;
            display: inline-block !important;
        }
    }
}

#chat {
    max-width: 550px;
}

#dj-stream {
    min-width:210px;
}

img#afterparty {
    max-width: 100%;
}