<div class="content-section my-4 p-3 text-center" id="donations">
  <%#= image_tag url_for(asset_path("Sister_donate.png")), alt: "DONATE", title: "Support your community and make a donation. Proceeds support organizations that keep us safe.", class: "w-100" %>
  <h1>DONATE</h1>
  <h3>Please consider donating to Folsom Street Events to help us sustain our events into 2021 and beyond. Every donation helps.</h3>
  <h4>SUGGESTED DONATION: $10</h4>
  <p>Donations of <strong>$15 or more</strong> <br>get 20% off Folsom Street Events merch!<sup>*</sup></p>
  <p>Donations of <strong>$25 or more</strong> <br>get 20% off Timoteo/Cellblock 13/Vaux apparel AND 20% off Folsom Street Events march!<sup>*</sup></p>
  <p>Donations of <strong>$35 or more</strong> <br>get a 2020 Folsom Street Fair thank you package AND the above discounts!<sup>*</sup></p>
  
  <div class="m-3"><a role="button" href="https://folsomstreetevents.z2systems.com/donation.jsp?campaign=4&" target="_blank" class="btn btn-primary" >MAKE A ONE TIME DONATION </a></div>
  <div class="m-3"><a role="button" href="https://www.patreon.com/folsomstreetevents" target="_blank" class="btn btn-primary">BECOME A RECURRING DONOR ON PATREON </a></div>
  <div class="m-3"><a role="button" href="https://venmo.com/FolsomStreetEvents" target="_blank" class="btn btn-primary">MAKE A ONE TIME VENMO DONATION</a></div>
  
  <div class="small mt-3">* (Discount code will be sent with donation confirmation email)</div>

</div>
