<div class="endorsements mx-auto mt-3 row single-row">
  <% premier_sponsors(3).each do |e10t| %>
  <% next unless e10t.banner.present? %>
     <div class="e10t top col-md mx-auto p-0 text-center">
       <a href="<%= e10t.link %>">
         <%= image_tag url_for(e10t.banner.variant(resize: "250x100")), alt: e10t.name, title: e10t.caption %>
       </a>
     </div>
     <% end %>
</div>
