<div class="endorsements row single-row">
  <div class="col-sm mx-3 p-2 my-2">
    An Endorsement
  </div>
  <div class="col-sm mx-3 p-2 my-2">
    Another Endorsement
  </div>
  <div class="col-sm p-2 mx-3 my-2">
    An Endorsement
  </div>
  <div class="col-sm p-2 mx-3 my-2">
    Another Endorsement
  </div>
</div>
