<div class="endorsements left col-sm-2 order-sm-1">
  <ul class="list-group">
    <li class="my-2 p-2">
      An Endorsement
    </li>
    <li class="my-2 p-2">
      Another Endorsement
    </l>
  </ul>
</div>
<div class="endorsements right col-sm-2 order-sm-3">
  <ul class="list-group">
    <li class="p-2 my-2">
      An Endorsement
    </li>
    <li class="p-2 my-2">
      Another Endorsement
    </li>
  </ul>

</div>

