<footer class="page-footer font-small pt-5">

  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-sm">
        <a href="/terms">Terms & Conditions</a>
      </div>
      <div class="col-sm">
        <a href="/privacy">Privacy</a>
      </div>
      <div class="col-sm">
        <a href="/volunteer">Volunteer With Us</a>
      </div>
    </div>
  </div>
  
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.folsomstreetevents.org"> Folsom St Events</a>
  </div>

</footer>
