<footer class="page-footer font-small pt-5">

  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-sm text-center">
        <a href="/rules">Community Guidelines</a>
      </div>
      <div class="footer-copyright col-sm text-center text-sm-left">© 2020 Copyright:
        <a href="https://www.folsomstreetevents.org"> Folsom Street Events</a>
      </div>
    </div>    

    <div class="row justify-content-center">
      <div class="footer-text text-center text-sm-left small mx-0 py-3 col-sm">
        Folsom Street Events is a registered non-profit (Federal Tax ID# 94-3019867) that unites the leather, kink, and alt sex communities with consent-focused spaces for connection, visibility, arts and entertainment, and sexual liberation.
      </div>  
      <div class="footer-text text-center text-sm-left small mx-0 px-5 py-3 col-sm">
        Folsom Street Events<br>
        145 9th Street. Suite 102<br>
        San Francisco, CA 94103<br>
        finfo@folsomstreetevents.org
      </div>
    </div>
  </div>
</footer>
