<nav class="navbar navbar-expand-lg align-items-baseline">
  <a class="navbar-brand display-3 text-yellow" href="/">
    Up Your Alley
  </a>

  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav text-center">
      <li class="nav-item mx-2 <%= 'active' if current_page?('/') %>">
        <a class="nav-link py-0" href="/">LIVE STREAM<span class="sr-only"></a>
      </li>
      <li class="nav-item mx-2 <%= 'active' if current_page?('/cruise') %>">
        <a class="nav-link py-0" href="/cruise">CRUISE/PLAY</a>
      </li>
      <li class="nav-item mx-2 dropdown <%= 'active' if current_page?('/vendors') %>">
        <a class="nav-link py-0 dropdown-toggle" href="/vendors" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">VENDOR MART</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/vendors?hall=folsom">Folsom Street Vendor Hall</a>
          <a class="dropdown-item" href="/vendors?hall=dore">Dore Alley Vendor Hall</a>
        </div>
      </li>
      <li class="nav-item mx-2  <%= 'active' if current_page?('/donate') %>">
        <a class="nav-link py-0" href="/donate">DONATE</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link py-0" href="https://www.folsomstreetevents.store/">SHOP FSE</a>
      </li>
    </ul>
  </div>
</nav>


