<div class="content-section my-4 p-3" id="rules">
  <h3 class="section-title text-center">
    FOLSOM STREET FAIR<br>COMMUNITY AGREEMENTS
  </h3>

  
  <p class="text-center"  style="font-size: 1.2em">Folsom Street Events including Folsom Street Fair are sex-positive, kinky, adult only spaces.<br>Our interactive chat reflects our events: consensual, kind, and open, with lots of room to learn.</p>

  <h4>VALUES</h4>
  <p class="text-left" style="font-size: 1.2em">Consent, anti-racism, respect for folks who are different from ourselves, gender and sexual liberation and freedom, inclusion, consent, and responsibility are the values we are committed to upholding when we are creating space for our communities. </p>

  <h4>POSTING GUIDELINES</h4>
  <p style="font-size: 1.2em">Violations will lead to  warnings, timeout, or being banned from the chat.</p>

  <div class="mx-auto">
    <h5>Respect consent.</h5>
    <p>You can  chat about sex, but keep cruising for sexual encounters to the spaces listed on our scenes page. Remember: <strong>NO MEANS NO</strong>. If someone doesn’t respond, that’s a no. Don’t pester folks and respect how people want to be addressed.</p>

    <h5>Talking vs soliciting.</h5>
    <p>Talking about substance use is permitted, soliciting the sale or trade of illicit substances isn’t. Talking about sex work is permitted, negotiating sex work isn’t.</p>

    <h5>No assumptions or judgments.</h5>
    <p>We are committed to centering marginalized people. Our leather/kink/alt-sex communities are incredibly diverse. Do not post assumptions, judgments, or rude comments about someone’s race, ethnicity, sex, gender, sexual orientation, physical appearance, or disability. </p>

    <h5>Use correct pronouns.</h5>
    <p>If you don’t know someone’s pronoun, ask politely. Avoid using gendered language and greetings. Instead try "folks" or "y'all".</p>

    <h5>Naming oppression.</h5>
    <p>“Naming that certain groups benefit from, participate in, and are responsible for certain kinds of oppression is not the same as disparagement. It's not wrong to note that men are the primary beneficiaries of patriarchy/sexism, that white folks are the primary beneficiaries of racism/white supremacy, that heterosexual people are the primary beneficiaries of homophobia, et cetera.” - Bonobo Network</p>

    <h5>Be kind.</h5>
    <p>It’s brave to share about your kink. We want everyone to experience feeling validated and joyful about the ways they like to play. If something doesn’t interest you, or makes you uncomfortable, give some space and look for the things that DO interest you.</p>

    <h5>No recordings.</h5><p>Do not record any part of our stream or chat. Any unauthorized recordings or rebroadcast will be subject to legal action.</p>

    <h5>No exploitation.</h5><p>Exploiting, harming, or attempting to exploit or harm minors in any way, including by exposing them to adult content, is explicitly forbidden.</p>

    <h5>No advertisements.</h5><p>Promotional posts or advertising posts aren’t acceptable here and will be deleted.</p> 

  </div>
  <h4 class="text-center">IF YOU FEEL UNSAFE OR WITNESS VIOLATIONS PLEASE MESSAGE A MONITOR</h4>

</div>
