<div class="schedule" id="list-view">
  <a href="https://clashfinder.org/s/<%= clashfinder_name %>">
    <p class="text-center ">View schedule on Clashfinder</p>
  </a>
  <ul class="list-group container">
    <li class="template event hidden">
      <a href="#" class="event-link">
        <div class="row">
          <div class="event-title col-sm-8 text-left"></div>
          <div class="event-location col-sm-4 text-right"></div>
        </div>
        <div class="row">
          <div class="event-time col-sm text-left"></div>
          <div class="event-duration col-sm text-right"></div>
        </div>
      </a>
    </li>
  </ul>
</div>
