<!DOCTYPE html>
<html>
  <head>
    <title>Up Your Alley 2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      body#splash{
      background-repeat: repeat;
      background-image: url("<%= asset_path('uya_splash.png') %>");
      }
    </style>
  </head>

  <body id="splash">
  </body>
</html>
